# EditorConfig helps maintain consistent coding styles
# https://editorconfig.org

# Top-most EditorConfig file
root = true

# PHP files
[*.php]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# JSON files
[*.json]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2

# YAML/YML files
[*.{yml,yaml}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2

# Markdown files
[*.md]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = false

# Makefile
[Makefile]
end_of_line = lf
indent_style = tab

# Shell scripts
[*.sh]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2
